@charset "UTF-8";

body{
    background-image: linear-gradient(to right, #6c9e86, #c9ddd4);
    color: black;
    text-align: center;
}

h1{
    text-align: center;
    color: rgb(66, 66, 66);
    font-size: 30pt;
    font-family: arial;
}

h2{
    text-align: left;
    color: rgb(110, 110, 110);
    font-size: 25pt;
    font-family: arial;
}

p{
    text-align: justify;
    font-family: arial;
    font-size: 20pt;
}

a{
    color: blue;
    text-decoration: none;
    font-size: 25pt;
    font-family: arial;
}

li{
    margin-top: 50pt;
    justify-items: center;
    font-size: 25pt;
    font-family: arial;
    padding: 10pt;
    list-style-position: inside;
}

h1#principal{
    background-color: rgb(255, 246, 234);
    text-align: center;
    padding: 15pt;
    color: #5f917a;
/*    border: 5px solid #5f917a;*/
}

.imgborder{
    border: 5px solid rgb(255, 246, 234);
}

.imgborder2{
    border: 5px solid #5f917a;
}

.curio{
    text-align: justify;
    font-family: arial;
    font-size: 20pt;
}

p#paragprincipal{
    text-align: center;
}